body {
    text-align: center;
}

h1 {
    font-family: 'ESRebondGrotesque';
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
}

.content {
    /* position: absolute; */
    padding-top: 20vh;
    align-items: center;
    margin: auto;
}

div a {
    color: black;
    text-decoration: none;
}

.email {
    width: 225px;
    display: inline;

}

.password {
    width: 225px;
    display: inline-block;
}

emailLabel {
    text-align: left !important;
    padding-right: 30px;
}

.submitBtn {
    width: 120px;
}

.remember {
    margin-top: 15px;
    padding-right: 100px;
}