<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/creatorPassportIcon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.typekit.net/djz3fym.css" />
    <link rel="stylesheet" href="assets/CSS/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <h1 style="font-size: 34px;">Login</h1>
        <div style="color: red">
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
        </div>
        <form id="loginForm" action="/login" method="POST">
            <div class="inputs">
                <label for="email" class="emailLabel">Email</label><br>
                <input type="email" id="email" name="email" placeholder="email" required><br>
                <label for="password" class="pwdLabel pt-3">Password</label><br>
                <input type="password" id="password" name="password" placeholder="password" required style="margin-left: 30px;" />
                <span class="password-toggle-icon"><i class="fas fa-eye icon1"></i></span>
            </div>
            <br>
            <button type="button" class="submitBtn mt-3 mb-3" onclick="loginSubmit();">Submit</button>
            <br>
        </form>
        <a href="/forgot-password" class="pt-2">Forgot Password?</a><br>
        <div style="position: absolute; bottom: 10px; display: flex; flex-direction: row; justify-content: center; width: 100%;">
            <div><a href="./terms-and-conditions">Terms and Conditions</a></div>
        </div>
    </div>

    <script type="text/javascript">
        const passwordField = document.getElementById("password");
        const togglePassword = document.getElementsByClassName("icon1")[0];

        togglePassword.addEventListener("click", function ()
        {
            if (passwordField.type === "password")
            {
                passwordField.type = "text";
                togglePassword.classList.remove("fa-eye");
                togglePassword.classList.add("fa-eye-slash");
            }
            else
            {
                passwordField.type = "password";
                togglePassword.classList.remove("fa-eye-slash");
                togglePassword.classList.add("fa-eye");
            }
        });

        function loginSubmit()
        {
            document.getElementById('email').value = document.getElementById('email').value.toLowerCase().trim();
            document.getElementById('loginForm').submit();
        }
    </script>
</body>
</html>