<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/creatorPassportIcon.ico">
    <link rel="stylesheet" href="assets/CSS/terms-and-conditions.css">
</head>
<body style="display: flex; flex-direction: row; justify-content: center;">
    <div style="max-width: 1080px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;">
        <h1 style="text-align: center;">The Creator Passport Privacy Policy</h1>
        <div>
            By accessing and using our course materials, you agree to abide by the following terms and policies, which are intended to protect both your rights and those of The Creator Passport LLC and its content contributors.
        </div>
        <h2 style="text-transform: uppercase;">Privacy Policy</h2>
        <div>
            Please READ carefully, as this pertains to the Agreement of your registration with any of the products sold (sometimes referred to as Program or Course) by The Creator Passport LLC (sometimes referred to as “Company”). By purchasing our products, you (sometimes referred to as "Client") agree to the following terms stated.
        </div>
        <h3 style="text-transform: uppercase;">Program</h3>
        <div>
            The Creator Passport LLC agrees to provide course content, identified as an online course aid, to help Clients grow their social media business. Client agrees to abide by all policies and procedures outlined in this Agreement as a condition of their participation in any of our programs.
        </div>
        <h3 style="text-transform: uppercase;">User Contributions</h3>
        <div>
            If the course includes interactive sections, such as forums or project submissions, you may be allowed to post your own content ("User Contributions"). By posting User Contributions, you grant The Creator Passport LLC a worldwide, non-exclusive, royalty-free, perpetual, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform such contributions in connection with the course and The Creator Passport LLC's (and its successors' and affiliates') business, including for promoting and redistributing part or all of the course (and derivative works thereof) in any media formats and through any media channels.
        </div>
        <h3 style="text-transform: uppercase;">Authorization and Release</h3>
        <div>
            You understand that your participation in the Program (the “Participation”) may be recorded in audio, video, still image or other form, and you hereby grant to the Company and its representatives, successors, assigns, employees, contractors, licensees, agents, legal representatives, and any person, corporation, or entity acting under their permission or authority or for whom they might be acting, including anyone distributing or disseminating advertising for the products and/or services of the company (collectively the foregoing are referred to as “Producers”): the right and permission to publish, reproduce, distribute, broadcast and/or otherwise use the Participation in such manner, in any medium now known or later developed, worldwide in perpetuity, for such purposes, in whole or in part, as they shall determine in their sole discretion without further compensation or consideration to you and without further authorization by you without any restriction as to changes or alterations (including, but not limited to, composite or distorted representations or derivative works of my Likeness made in any medium) in connection with the development of a coaching library or the promotion of the Company’s business, products, and/or services. You disclaim any interest in the Participation and further acknowledge that they shall constitute the sole property of the Company (or its successors or assigns as the case may be).
            <br /><br />
            You also affirm that any statements or endorsement made by you in your Participation are factually accurate and represent your honest opinions, findings, beliefs, and/or experiences. You hereby waive all rights of ownership, inspection, or approval with regard to any recording, taping, broadcast, reproduction, blurring, distortion, alteration, optical illusion, proposed printed, audio or video publication and/or other use of my name, whether in an intermediary version(s) or finished version(s), the Personal Information and the Participation. You also hereby release, discharge and agree to hold harmless the Producers from and against any and all liability, including, without limitation, claims for invasion of privacy or publicity, defamation or copyright infringement, resulting from their use of my Personal Information, and the Participation. You agree that your use of the Service is voluntary, and you assume complete responsibility for your actions in connection therewith.
            <br /><br />
            You hereby warrant that You are over eighteen years of age and competent to contract in Your own name. You agree that this release shall be binding on you, your legal representatives, your heirs, and your assigns.
        </div>
        <h3 style="text-transform: uppercase;">Disclaimer</h3>
        <div>
            The course materials are provided "as is" without warranty of any kind, either express or implied. While The Creator Passport LLC strives to provide high-quality content, we do not guarantee the accuracy, completeness, or usefulness of any content or course materials.
            <br /><br />
            Client understands Giselle Langley, Stephen Jiroch, and The Creator Passport LLC, are not employees, agents, lawyers, managers, therapists, public relations or business managers, accountants, or financial analysts.
            <br /><br />
            Client understands that the Company, has promised, nor shall be obligated to, the following:
            <br /><br />
            (1) Success in business, results, and sales for the Client.
            <br /><br />
            (2) Provide assistance, as either coach or mentor, with consultations for future business contracts made by Client.
            <br /><br />
            (3) Procure any publicity, social media exposure, interviews, write-ups, features, television, or print promotions for the Client.
            <br /><br />
            (4) Introduce Client to The Creator Passport’s full network of contacts, media, or business partners. Client understands that a relationship does not exist between the Parties after the conclusion of this program.
        </div>
        <h3 style="text-transform: uppercase;">Confidentiality</h3>
        <div>
            The Creator Passport LLC respects Clients’ privacy and insists that the Client respects ours as well. Thus, consider this a mutual non-disclosure Agreement. Any confidential information shared by The Creator Passport LLC Participants or any representative of The Creator Passport LLC is confidential, proprietary, and and belongs solely and exclusively to the Client or representative who discloses it. Parties agree not to disclose, reveal, or make use of any confidential information or any transactions during discussions, in the forum or otherwise.
            <br /><br />
            Client agrees not to use such confidential information in any manner other than in discussion with other Clients, during the respective program. Confidential information includes, but is not limited to, information disclosed in connection with this Agreement, and shall not include information rightfully obtained from a third party.
            <br /><br />
            Both Parties will keep private information in strictest confidence and shall use their best efforts to safeguard the confidential information and to protect it against disclosure, misuse, espionage, loss, and theft.
            <br /><br />
            Client agrees not to violate the Publicity or Privacy Rights belonging to The Creator Passport LLC. Furthermore, Client will NOT reveal any information to a third party obtained in connection with this Agreement or our direct or indirect dealings with Client, including but not limited to, names, email addresses, third-party company titles or positions, phone numbers, or postal addresses. Additionally, Client will not, at any time, either directly or indirectly, disclose confidential information to any third party.
            <br /><br />
            By purchasing our products, you agree that if you violate or display any likelihood of violating this Agreement, The Creator Passport LLC and/or the other program participant(s) will be entitled to injunctive relief to prohibit any such violations to protect against the harm of such violations.
        </div>
        <h3 style="text-transform: uppercase;">Non-disparagement</h3>
        <div>
            The Parties agree and accept that the only venue for resolving such a dispute shall be in the venue set forth herein below. The Parties agree that they neither will engage in any conduct or communications with a third party, public or private, designed to disparage the other. Neither Client nor any of Client’s associates, employees or affiliates will directly or indirectly, in any capacity or manner, make, express, transmit speak, write, verbalize or otherwise communicate in any way (or cause, further, assist, solicit, encourage, support or participate in any of the foregoing), any remark, comment, message, information, declaration, communication or other statement of any kind, whether verbal, in writing, electronically transferred or otherwise, that might reasonably be construed to be derogatory or critical of, or negative toward, the Company or any of its programs, members, owner directors, officers, affiliates, subsidiaries, employees, agents or representatives.
        </div>
        <h3 style="text-transform: uppercase;">Assignment</h3>
        <div>Client may not assign this Agreement without express written consent of the Company.</div>
        <h3 style="text-transform: uppercase;">Resolution of disputes</h3>
        <div>If not resolved first by good-faith negotiation between the Parties, every controversy or dispute relating to this Agreement will be submitted to the American Arbitration Association. All claims against Company must be lodged within 100-days of the date of the first claim or otherwise be forfeited forever. The arbitration shall occur within ninety (90) days from the date of the initial arbitration demand. The Parties shall cooperate to ensure that the arbitration process is completed within the ninety (90) day period. The Parties shall cooperate in exchanging and expediting discovery as part of the arbitration process. The written decision of the arbitrators (which will provide for the payment of costs) will be absolutely binding and conclusive and not subject to judicial review, and may be entered and enforced in any court of proper jurisdiction, either as a judgment of law or a decree in equity, as circumstances may indicate. In disputes involving unpaid balances on behalf of Client, Client is responsible for any and all arbitration and attorney fees.</div>
        <h3 style="text-transform: uppercase;">Notices</h3>
        <div>Any notices to be given hereunder by either Party to the other may be affected by personal delivery or by mail, registered or certified, postage prepaid with return receipt requested. Notices delivered personally shall be deemed communicated as of the date of actual receipt; mailed notices shall be deemed communicated as of three (3) days after the date of mailing. For purposes of this Agreement, “personal delivery” includes notice transmitted by email. Email: support@theloverspassport.com. This Agreement shall be binding upon and inure to the benefit of the Parties hereto, their respective heirs, executors, administrators, successors and permitted assigns. Any breach or the failure to enforce any provision hereof shall not constitute a waiver of that or any other provision in any other circumstance.This Agreement constitutes and contains the entire Agreement between the Parties with respect to its subject matter, supersedes all previous discussions, negotiations, proposals, Agreements and understandings between them relating to such subject matter. This Agreement shall be governed by and construed in accordance with the laws of the State of California, United States of America.</div>
        <h3 style="text-transform: uppercase;">Changes to Policy</h3>
        <div>
            The Creator Passport LLC reserves the right to update or change these policies at any time. Your continued use of the course after any changes to the policies constitutes your acceptance of the new terms.
        </div>
        <h3 style="text-transform: uppercase;">Contact us</h3>
        <div>
            If you have any questions or concerns regarding these policies, please contact us at support@theloverspassport.com.
        </div>
    </div>
</body>
</html>