<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/djz3fym.css">
    <link rel="stylesheet" href="assets/CSS/forgot-password.css">
</head>
<body>
    <div class="content">
        <h1>Enter new password</h1>
        <form action="/reset-password" method="POST" onsubmit="passwordVerify();">
            <input id="token" name="token" style="display: none;">
            <label>Enter Password</label><br>
            <input type="password" id="password" name="password" placeholder="password" required><br>
            <label>Re-enter Password</label><br>
            <input type="password" id="reEnterPassword" name="reEnterPassword" placeholder="password" required><br>
            <input type="submit" class="submitBtn mt-3 mb-3">
            <div>
                <%  if (messages.length > 0) { %>
                <%= messages %>
                <%  } %>
            </div>
            <a href="/login">Back to Login</a>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">
    // gets access token from the url
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('access_token')
    document.getElementById('token').value = token;

    // only submits if both password values match
    function passwordVerify()
    {
        if (document.getElementById('password').value != document.getElementById('reEnterPassword').value)
        {
            alert("Passwords don't match");
            event.preventDefault();
        }
    }
</script>