<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/creatorPassportIcon.ico">
    <link rel="stylesheet" href="assets/CSS/terms-and-conditions.css">
</head>
<body style="display: flex; flex-direction: row; justify-content: center;">
    <div style="max-width: 1080px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;">
        <h1 style="text-align: center;">The Creator Passport Terms and Conditions</h1>
        <div>
            By accessing and using our course materials, you agree to abide by the following terms and policies, which are intended to protect both your rights and those of The Creator Passport LLC and its content contributors.
        </div>
        <h2 style="text-transform: uppercase;">Terms And Conditions</h2>
        <div>
            Please READ carefully, as this pertains to the Agreement of your registration with any of the products sold (sometimes referred to as Program or Course) by The Creator Passport LLC (sometimes referred to as “Company”). By purchasing our products, you (sometimes referred to as "Client") agree to the following terms stated.
        </div>
        <h3 style="text-transform: uppercase;">Program</h3>
        <div>
            The Creator Passport LLC agrees to provide course content, identified as an online course aid, to help Clients grow their social media business. Client agrees to abide by all policies and procedures outlined in this Agreement as a condition of their participation in any of our programs.
        </div>
        <h2 style="text-transform: uppercase;">Copyright Policy</h2>
        <h3 style="text-transform: uppercase;">Course Materials Ownership</h3>
        <div>
            All course materials, including, but not limited to, videos, texts, graphics, presentations, and any other content provided as part of The Creator Passport, are the intellectual property of The Creator Passport LLC or its content contributors. These materials are protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties.
        </div>
        <h3 style="text-transform: uppercase;">License to use</h3>
        <div>The Creator Passport LLC grants you a non-exclusive, non-transferable, single-user license to access and use the course materials for your personal, non-commercial educational purposes. This license is subject to your full compliance with all the terms and conditions set forth in this policy.</div>
        <h3 style="text-transform: uppercase;">No Transfer of Intellectual Property</h3>
        <div>You are <b>expressly prohibited from:</b></div>
        <ul>
            <li>Copying, modifying, editing, enhancing, reproducing, distributing, selling, creating derivative works of, or leasing any part of the course materials.</li>
            <li>Using the course materials for any commercial purpose or for the benefit of any third party in any manner not explicitly permitted by The Creator Passport LLC.</li>
            <li>Removing any proprietary notice language in all copies of course materials.</li>
            <li>Transferring the course materials to another person, screen recording or duplicating course content, or "mirroring" the materials on any other server.</li>
        </ul>
        <div>
            Client is not authorized to use any of Company’s intellectual property for Client’s business purposes. All intellectual property, including Company’s copyrighted program and/or course materials, shall remain the sole property of The Creator Passport LLC. No license to sell or distribute Company’s materials is granted or implied. By purchasing this product, Client agrees (1) not to infringe any copyright, patent, trademark, trade secret, or other intellectual property rights, (2) that any Confidential Information shared by the Company is confidential and proprietary, and belongs solely and exclusively to the Company, (3) Client agrees not to disclose such information to any other person or use it in any manner other than in discussion with the Company. Further, by purchasing this product, Client agrees that if Client violates, or displays any likelihood of violating, any of Client’s Agreements contained in this paragraph, the Company will be entitled to injunctive relief to prohibit any such violations and to protect against the harm of such violations.
            <br /><br />
            The unauthorized copying, distribution, display, or performance of the course materials is strictly prohibited. [Course Provider] takes copyright infringement very seriously and will enforce its intellectual property rights to the fullest extent of the law, including seeking criminal prosecution.
        </div>
        <h3 style="text-transform: uppercase;">User Contributions</h3>
        <div>
            If the course includes interactive sections, such as forums or project submissions, you may be allowed to post your own content ("User Contributions"). By posting User Contributions, you grant The Creator Passport LLC a worldwide, non-exclusive, royalty-free, perpetual, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform such contributions in connection with the course and The Creator Passport LLC's (and its successors' and affiliates') business, including for promoting and redistributing part or all of the course (and derivative works thereof) in any media formats and through any media channels.
        </div>
        <h3 style="text-transform: uppercase;">Authorization and Release</h3>
        <div>
            You understand that your participation in the Program (the “Participation”) may be recorded in audio, video, still image or other form, and you hereby grant to the Company and its representatives, successors, assigns, employees, contractors, licensees, agents, legal representatives, and any person, corporation, or entity acting under their permission or authority or for whom they might be acting, including anyone distributing or disseminating advertising for the products and/or services of the company (collectively the foregoing are referred to as “Producers”): the right and permission to publish, reproduce, distribute, broadcast and/or otherwise use the Participation in such manner, in any medium now known or later developed, worldwide in perpetuity, for such purposes, in whole or in part, as they shall determine in their sole discretion without further compensation or consideration to you and without further authorization by you without any restriction as to changes or alterations (including, but not limited to, composite or distorted representations or derivative works of my Likeness made in any medium) in connection with the development of a coaching library or the promotion of the Company’s business, products, and/or services. You disclaim any interest in the Participation and further acknowledge that they shall constitute the sole property of the Company (or its successors or assigns as the case may be).
            <br /><br />
            You also affirm that any statements or endorsement made by you in your Participation are factually accurate and represent your honest opinions, findings, beliefs, and/or experiences. You hereby waive all rights of ownership, inspection, or approval with regard to any recording, taping, broadcast, reproduction, blurring, distortion, alteration, optical illusion, proposed printed, audio or video publication and/or other use of my name, whether in an intermediary version(s) or finished version(s), the Personal Information and the Participation. You also hereby release, discharge and agree to hold harmless the Producers from and against any and all liability, including, without limitation, claims for invasion of privacy or publicity, defamation or copyright infringement, resulting from their use of my Personal Information, and the Participation. You agree that your use of the Service is voluntary, and you assume complete responsibility for your actions in connection therewith.
            <br /><br />
            You hereby warrant that You are over eighteen years of age and competent to contract in Your own name. You agree that this release shall be binding on you, your legal representatives, your heirs, and your assigns.
        </div>
        <h2 style="text-transform: uppercase;">Course Refunds</h2>
        <div>
            We want the investment in this course to be an absolute no-brainer for you; if you're actually going to put in the work. If you’ve done the work and you're not completely satisfied with the material within 30 days, we'll give you a full refund. In order to qualify for a refund you must submit proof (as detailed below) that you did the work in the course and it did not work for you.
            <br /><br />
            In the event that you decide your purchase was not the right decision for you or your business, within 30 days of enrollment, contact support@theloverspassport.com and let us know you’d like a refund by the 30th day at 11:59 PST. You must include your coursework with your request for a refund. If you request a refund and do not include your coursework by the 30th day, you will not be granted a refund. All refunds are discretionary as determined by The Creator Passport LLC.
            <br /><br />
            The work that you need to submit with your request for a refund includes ALL of the following items:
            <ul>
                <li>Proof of completion of at least 150/304 of the course’s video modules</li>
                <li>Attendance of all Live Group Coaching Calls and/or Recordings</li>
                <li>Completed Assigned Exercises & Challenges given by your coaches during the first 30 days of the course</li>
                <li>Screenshots of emails showing you have pitched brands and their replies with time stamps</li>
                <li>Proof of active participation in the Facebook group.</li>
            </ul>
            We will NOT provide refunds more than 30 days following the date of purchase. After day 30, all payments are non-refundable and you are responsible for full payment of the fees for the program regardless if you complete the program.
            <br /><br />
            If you opted for a payment plan and you do not request a refund within 30 days, and attach the required complete coursework as outlined above, you are required by law to complete the remaining payments of your payment plan.
            <br /><br />
            <b>Please note:</b>
            <br /><br />
            All refunds are discretionary as determined by The Creator Passport LLC’s policy listed above. If you have any questions, contact us at support@theloverspassport.com
            <br /><br />
            As mentioned above, all returns are discretionary. If you just downloaded the Training Material (PDFs, audios, videos, additional workbooks, and/or etc.), and then promptly asked for a return, we reserve the right to deny your request. Why? Because the point of the policy is to give people the chance to try the system, and if it doesn't work, they can get their money back. It wasn't designed to enable people to steal the Course Material.
        </div>
        <h2 style="text-transform: uppercase;">Payments </h2>
        <h3 style="text-transform: uppercase;">Financial Obligation</h3>
        <div>Client is responsible for the completion of all payment plans associated with products they purchase. We reserve the right to seek recovery of any monies remaining unpaid via our Collection Agency. Should you fail to complete your payments on time, your access to all Course Materials will be revoked.</div>
        <h3 style="text-transform: uppercase;">Methods of Payment</h3>
        <div>We accept Visa, Mastercard, and American Express as a form of payment. If Client chooses to pay by monthly installments, he/she authorizes the monthly charge for the product on the Client`s credit card or debit card.</div>
        <h3 style="text-transform: uppercase;">Payment Plans</h3>
        <div>If you have signed up for a payment plan, you hereby authorize our continued access to your financial information until your payment plan is complete, as set forth in your acceptance of the purchase terms upon checkout. </div>
        <div><b>Please note: </b> If you opted for a payment plan, you are required by law to complete your payment plan. We reserve the right to seek recovery of any monies remaining unpaid via our Collection Agency.</div>
        <h3 style="text-transform: uppercase;">Late Payments</h3>
        <div>If payments are not made on time, you agree to pay interest on all past-due sums at a rate of 1.5% per month or the highest rate allowed by law, whichever is greater.</div>
        <h3 style="text-transform: uppercase;">Chargebacks</h3>
        <div>You agree to make every attempt to request a refund prior to attempting a chargeback with your financial institution. In the event of a chargeback attempt, you expressly agree to forfeit any and all of our bonuses, affiliate bonuses or other materials afforded to you in exchange for your original purchase of our Course. We reserve the right to present proof of your access and these Terms to the financial institution investigating the dispute.</div>
        <h3 style="text-transform: uppercase;">Disclaimer</h3>
        <div>
            The course materials are provided "as is" without warranty of any kind, either express or implied. While The Creator Passport LLC strives to provide high-quality content, we do not guarantee the accuracy, completeness, or usefulness of any content or course materials.
            <br /><br />
            Client understands Giselle Langley, Stephen Jiroch, and The Creator Passport LLC, are not employees, agents, lawyers, managers, therapists, public relations or business managers, accountants, or financial analysts.
            <br /><br />
            Client understands that the Company, has promised, nor shall be obligated to, the following:
            <br /><br />
            (1) Success in business, results, and sales for the Client.
            <br /><br />
            (2) Provide assistance, as either coach or mentor, with consultations for future business contracts made by Client.
            <br /><br />
            (3) Procure any publicity, social media exposure, interviews, write-ups, features, television, or print promotions for the Client.
            <br /><br />
            (4) Introduce Client to The Creator Passport’s full network of contacts, media, or business partners. Client understands that a relationship does not exist between the Parties after the conclusion of this program.
        </div>
        <h3 style="text-transform: uppercase;">Confidentiality</h3>
        <div>
            The Creator Passport LLC respects Clients’ privacy and insists that the Client respects ours as well. Thus, consider this a mutual non-disclosure Agreement. Any confidential information shared by The Creator Passport LLC Participants or any representative of The Creator Passport LLC is confidential, proprietary, and and belongs solely and exclusively to the Client or representative who discloses it. Parties agree not to disclose, reveal, or make use of any confidential information or any transactions during discussions, in the forum or otherwise.
            <br /><br />
            Client agrees not to use such confidential information in any manner other than in discussion with other Clients, during the respective program. Confidential information includes, but is not limited to, information disclosed in connection with this Agreement, and shall not include information rightfully obtained from a third party.
            <br /><br />
            Both Parties will keep private information in strictest confidence and shall use their best efforts to safeguard the confidential information and to protect it against disclosure, misuse, espionage, loss, and theft.
            <br /><br />
            Client agrees not to violate the Publicity or Privacy Rights belonging to The Creator Passport LLC. Furthermore, Client will NOT reveal any information to a third party obtained in connection with this Agreement or our direct or indirect dealings with Client, including but not limited to, names, email addresses, third-party company titles or positions, phone numbers, or postal addresses. Additionally, Client will not, at any time, either directly or indirectly, disclose confidential information to any third party.
            <br /><br />
            By purchasing our products, you agree that if you violate or display any likelihood of violating this Agreement, The Creator Passport LLC and/or the other program participant(s) will be entitled to injunctive relief to prohibit any such violations to protect against the harm of such violations.
        </div>
        <h3 style="text-transform: uppercase;">Non-disparagement</h3>
        <div>
            The Parties agree and accept that the only venue for resolving such a dispute shall be in the venue set forth herein below. The Parties agree that they neither will engage in any conduct or communications with a third party, public or private, designed to disparage the other. Neither Client nor any of Client’s associates, employees or affiliates will directly or indirectly, in any capacity or manner, make, express, transmit speak, write, verbalize or otherwise communicate in any way (or cause, further, assist, solicit, encourage, support or participate in any of the foregoing), any remark, comment, message, information, declaration, communication or other statement of any kind, whether verbal, in writing, electronically transferred or otherwise, that might reasonably be construed to be derogatory or critical of, or negative toward, the Company or any of its programs, members, owner directors, officers, affiliates, subsidiaries, employees, agents or representatives.
        </div>
        <h3 style="text-transform: uppercase;">Indemnification</h3>
        <div>
            Client shall defend, indemnify, and hold harmless Company, Company’s officers, employers, employees, contractors, directors, related entities, trustees, affiliates, and successors from and against any and all liabilities and expense whatsoever – including without limitation, claims, damages, judgments, awards, settlements, investigations, costs, attorneys fees, and disbursements – which any of them may incur or become obligated to pay arising out of or resulting from the offering for sale, the sale, and/or use of the product(s), excluding, however, any such expenses and liabilities which may result from a breach of this Agreement or sole negligence or willful misconduct by Company, or any of its shareholders, trustees, affiliates or successors. Client shall defend Company in any legal actions, regulatory actions, or the like arising from or related to this Agreement. Client recognizes and agrees that all of the Company’s shareholders, trustees, affiliates and successors shall not be held personally responsible or liable for any actions or representations of the Company. In consideration of and as part of Client’s payment for the right to participate in The Creator Passport LLC Programs, the undersigned, your heirs, executors, administrators, successors and assigns do hereby release, waive, acquit, discharge, indemnify, defend, hold harmless and forever discharge The Creator Passport LLC and its subsidiaries, principals, directors, employees, agents, heirs, executors, administrators, successors, and assigns and any of the training instructors, guides, staff or students taking part in the training in any way as well as the venue where the Programs are being held (if applicable) and any of its owners, executives, agents, or staff (sometimes referred to as “Releases”) of and from all actions, causes of action, contracts, claims, suits, costs, demands and damages of whatever nature or kind in law or in equity arising from my participation in the Programs.
        </div>
        <h3 style="text-transform: uppercase;">Severability/Waiver</h3>
        <div>
            If any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions shall nevertheless continue in full force. The failure of either Party to exercise any right provided for herein will not be deemed a waiver of that right or any further rights hereunder.
        </div>
        <h3 style="text-transform: uppercase;">Assignment</h3>
        <div>Client may not assign this Agreement without express written consent of the Company.</div>
        <h3 style="text-transform: uppercase;">Termination</h3>
        <div>
            Company is committed to providing all Clients in the Program with a positive Program experience. By purchasing this product, Client agrees that the Company may, at its sole discretion, terminate this Agreement, and limit, suspend, or terminate Client’s participation in the Program without refund or forgiveness of monthly payments if Client becomes disruptive to Company or Participants, Client fails to follow the Program guidelines, is difficult to work with, impairs the participation of the other Participants in the Program or upon violation of the terms as determined by Company. Client will still be liable to pay the total contract amount.
        </div>
        <h3 style="text-transform: uppercase;">Resolution of disputes</h3>
        <div>If not resolved first by good-faith negotiation between the Parties, every controversy or dispute relating to this Agreement will be submitted to the American Arbitration Association. All claims against Company must be lodged within 100-days of the date of the first claim or otherwise be forfeited forever. The arbitration shall occur within ninety (90) days from the date of the initial arbitration demand. The Parties shall cooperate to ensure that the arbitration process is completed within the ninety (90) day period. The Parties shall cooperate in exchanging and expediting discovery as part of the arbitration process. The written decision of the arbitrators (which will provide for the payment of costs) will be absolutely binding and conclusive and not subject to judicial review, and may be entered and enforced in any court of proper jurisdiction, either as a judgment of law or a decree in equity, as circumstances may indicate. In disputes involving unpaid balances on behalf of Client, Client is responsible for any and all arbitration and attorney fees.</div>
        <h3 style="text-transform: uppercase;">Equitable Relief</h3>
        <div>In the event that a dispute arises between the Parties for which monetary relief is inadequate and where a Party may suffer irreparable harm in the absence of an appropriate remedy, the injured Party may apply to any court of competent jurisdiction for equitable relief, including without limitation a temporary restraining order or injunction.</div>
        <h3 style="text-transform: uppercase;">Notices</h3>
        <div>Any notices to be given hereunder by either Party to the other may be affected by personal delivery or by mail, registered or certified, postage prepaid with return receipt requested. Notices delivered personally shall be deemed communicated as of the date of actual receipt; mailed notices shall be deemed communicated as of three (3) days after the date of mailing. For purposes of this Agreement, “personal delivery” includes notice transmitted by email. Email: support@theloverspassport.com. This Agreement shall be binding upon and inure to the benefit of the Parties hereto, their respective heirs, executors, administrators, successors and permitted assigns. Any breach or the failure to enforce any provision hereof shall not constitute a waiver of that or any other provision in any other circumstance.This Agreement constitutes and contains the entire Agreement between the Parties with respect to its subject matter, supersedes all previous discussions, negotiations, proposals, Agreements and understandings between them relating to such subject matter. This Agreement shall be governed by and construed in accordance with the laws of the State of California, United States of America.</div>
        <h3 style="text-transform: uppercase;">Changes to Policy</h3>
        <div>
            The Creator Passport LLC reserves the right to update or change these policies at any time. Your continued use of the course after any changes to the policies constitutes your acceptance of the new terms.
        </div>
        <h3 style="text-transform: uppercase;">Contact us</h3>
        <div>If you have any questions or concerns regarding these policies, please contact us at support@theloverspassport.com.</div>
    </div>
</body>
</html>